*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.perfil_navbar{    
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFD186;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.nav_title p{
font-size: 21px;

margin-bottom: 0;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 23px;
text-align: center;
letter-spacing: -0.317333px;

}
.nav_img img{
    margin-left: 10px;
    width: 28px;
    height: 35px;
}

.nav_lg img{
    margin-right: 10px;
    width: 28px;
    height: 35px;
}


.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    flex-direction: row;
    text-align: left;

}
.perfil_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    flex-direction: row;
    text-align: left;

}
.perfil_img img{
    width: 105px;
    height: 102px;
    border-radius: 50px;
}

.perfil_nps{
    background-color: #FFD186;
    display: flex;
    justify-content: center;    
    width: 50px;
    height: 30px;
    border-radius: 30px;
}

.perfil_nps img{
    padding-left: 5px;
}

.perfil_placar{
    margin-left: 15%;
    margin-right: 15%;
}
.perfil_valor{
    padding-top: 20px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;

}
.perfil_info{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.perfil_info p:last-child{
    width: 100px;
    border-right: 2px solid black;
}

.perfil_valor p:last-child{
    width: 100px;
    
}

.menu_sele{
    display: flex;
    justify-content: center;    
   
}



.menu_sele img{
    width: 30px;
    height: 33px;
    margin-left: 70px;
    margin-right: 70px;
}

.grid_publi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    top: 30px;
    padding-bottom: 45px;

}
.grid_publi img{
    height: 100px;
    width: 100px;

}
.box1{
    
    height: 100px;
    width: 100px;
    background-color: #F8F8F8;
    margin: 5px;
}

.box2{
    
    height: 100px;
    width: 100px;
    background-color: #F8F8F8;
    margin: 5px;
}

.footer{
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 30px;
    bottom: 0;
    width: 100%;
    background-color: #FFD186;
    text-align: center;
    height: 40px;
}
.adc_pub{
    position: absolute;
    background-color: #FCEE21; 
    top: 2px; 
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
